/* h1 {
    text-align: center;
    font-family: 'Marcellus SC', serif;
}

p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
} */

a {
    text-decoration: none;
    text-align: center;
    font-family: 'Marcellus SC', serif;
    font-weight: bolder;
    font-size: large;
    color: aliceblue;
}

.dd {
    text-align: center;
    margin: auto;
}
